In [42]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
import random
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error, mean_squared_error
from scipy.stats import pearsonr, rankdata
from sklearn.impute import KNNImputer
import seaborn as sns

In [43]:
def percentual_error(y_true, y_pred):
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [44]:
def calcula_metricas(values_true, values_predicted):
    # Calcular métricas
    mae = mean_absolute_error(values_true, values_predicted)
    rmse = np.sqrt(mean_squared_error(values_true, values_predicted))
    correlation, _ = pearsonr(values_true, values_predicted)
    mape = percentual_error(values_true, values_predicted)

    # Exibir resultados
    print(f"Mean Absolute Error (MAE): {mae:.4f}")
    print(f"Root Mean Squared Error (RMSE): {rmse:.4f}")
    print(f"Pearson Correlation: {correlation:.4f}")
    print(f"Mean Absolute Percentual Error (MAPE): {mape:.4f}")

    return {'mae': mae, 'rmse': rmse, 'corr' : correlation, 'mape' : mape}

In [45]:
df = pd.read_csv('data/vazoes_CA_20_23.csv')

In [46]:
df['timestamp'] = pd.to_datetime(df['Data'])

In [47]:
df.columns

Index(['Unnamed: 0', 'Data', 'Vazao_CA', 'Vazao1_CA_1d', 'Vazao2_CA_1d',
       'Vazao1_CA_7d', 'Vazao2_CA_7d', 'Vazao1_CA_15d', 'Vazao2_CA_15d',
       'Vazao1_CA_30d', 'Vazao2_CA_30d', 'timestamp'],
      dtype='object')

# Imputação Estática de Dados

In [48]:
df['Media'] = df['Vazao2_CA_30d'].fillna(df['Vazao2_CA_30d'].mean())

In [49]:
df['Moda'] = df['Vazao2_CA_30d'].fillna(df['Vazao2_CA_30d'].mode().iloc[0])

In [50]:
df['Mediana'] = df['Vazao2_CA_30d'].fillna(df['Vazao2_CA_30d'].median())

In [51]:
df['LOCF'] = df['Vazao2_CA_30d'].fillna(method='ffill')

In [52]:
df['BOCF'] = df['Vazao2_CA_30d'].fillna(method='bfill')

# Imputação de Dados com Médias Móveis e Interpolação

In [53]:
#df['Media_Movel_3dias'] = df['Vazao2_CA_30d'].fillna(df['Vazao2_CA_30d'].rolling(window=3, min_periods=1).mean().shift(1))

In [54]:
#df['Media_Movel_7dias'] = df['Vazao2_CA_30d'].fillna(df['Vazao2_CA_30d'].rolling(window=7, min_periods=1).mean().shift(1))

In [55]:
#df['Media_Movel_15dias'] = df['Vazao2_CA_30d'].fillna(df['Vazao2_CA_30d'].rolling(window=15, min_periods=1).mean().shift(1))

In [56]:
df['InterpolacaoLinear'] = df['Vazao2_CA_30d'].fillna(df['Vazao2_CA_30d'].interpolate(method='linear'))

In [57]:
df['InterpolacaoSpline_ordem2'] = df['Vazao2_CA_30d'].fillna(df['Vazao2_CA_30d'].interpolate(method='spline', order=2))

In [58]:
df['InterpolacaoSpline_ordem3'] = df['Vazao2_CA_30d'].fillna(df['Vazao2_CA_30d'].interpolate(method='spline', order=3))

In [59]:
df['InterpolacaoPolinomial_ordem2'] = df['Vazao2_CA_30d'].fillna(df['Vazao2_CA_30d'].interpolate(method='polynomial', order=2))

In [60]:
df['InterpolacaoPolinomial_ordem3'] = df['Vazao2_CA_30d'].fillna(df['Vazao2_CA_30d'].interpolate(method='polynomial', order=3))

# Imputações KNN

In [61]:
df['timestamp_numeric'] = (df['timestamp'] - df['timestamp'].min()) / pd.Timedelta(days=1)

In [62]:
imputer = KNNImputer(n_neighbors=1) 
df['KNN_1k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao2_CA_30d', 'timestamp_numeric']])))

In [63]:
imputer = KNNImputer(n_neighbors=2) 
df['KNN_2k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao2_CA_30d', 'timestamp_numeric']])))

In [64]:
imputer = KNNImputer(n_neighbors=3) 
df['KNN_3k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao2_CA_30d', 'timestamp_numeric']])))

In [65]:
imputer = KNNImputer(n_neighbors=4) 
df['KNN_4k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao2_CA_30d', 'timestamp_numeric']])))

In [66]:
imputer = KNNImputer(n_neighbors=5) 
df['KNN_5k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao2_CA_30d', 'timestamp_numeric']])))

In [67]:
imputer = KNNImputer(n_neighbors=6) 
df['KNN_6k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao2_CA_30d', 'timestamp_numeric']])))

In [68]:
imputer = KNNImputer(n_neighbors=7) 
df['KNN_7k']  = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao2_CA_30d', 'timestamp_numeric']])))

In [69]:
imputer = KNNImputer(n_neighbors=8) 
df['KNN_8k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao2_CA_30d', 'timestamp_numeric']])))

In [70]:
imputer = KNNImputer(n_neighbors=9) 
df['KNN_9k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao2_CA_30d', 'timestamp_numeric']])))

In [71]:
imputer = KNNImputer(n_neighbors=10) 
df['KNN_10k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao2_CA_30d', 'timestamp_numeric']])))

In [72]:
imputer = KNNImputer(n_neighbors=15) 
df['KNN_15k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao2_CA_30d', 'timestamp_numeric']])))

In [73]:
imputer = KNNImputer(n_neighbors=30) 
df['KNN_30k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao2_CA_30d', 'timestamp_numeric']])))

In [74]:
imputer = KNNImputer(n_neighbors=90) 
df['KNN_90k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao2_CA_30d', 'timestamp_numeric']])))

In [75]:
imputer = KNNImputer(n_neighbors=180) 
df['KNN_180k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao2_CA_30d', 'timestamp_numeric']])))

In [76]:
imputer = KNNImputer(n_neighbors=365) 
df['KNN_365k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao2_CA_30d', 'timestamp_numeric']])))

In [77]:
imputer = KNNImputer(n_neighbors=1095) 
df['KNN_1095k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao2_CA_30d', 'timestamp_numeric']])))

In [78]:
imputer = KNNImputer(n_neighbors=1825) 
df['KNN_1825k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao2_CA_30d', 'timestamp_numeric']])))

# Métricas

In [79]:
df.columns

Index(['Unnamed: 0', 'Data', 'Vazao_CA', 'Vazao1_CA_1d', 'Vazao2_CA_1d',
       'Vazao1_CA_7d', 'Vazao2_CA_7d', 'Vazao1_CA_15d', 'Vazao2_CA_15d',
       'Vazao1_CA_30d', 'Vazao2_CA_30d', 'timestamp', 'Media', 'Moda',
       'Mediana', 'LOCF', 'BOCF', 'InterpolacaoLinear',
       'InterpolacaoSpline_ordem2', 'InterpolacaoSpline_ordem3',
       'InterpolacaoPolinomial_ordem2', 'InterpolacaoPolinomial_ordem3',
       'timestamp_numeric', 'KNN_1k', 'KNN_2k', 'KNN_3k', 'KNN_4k', 'KNN_5k',
       'KNN_6k', 'KNN_7k', 'KNN_8k', 'KNN_9k', 'KNN_10k', 'KNN_15k', 'KNN_30k',
       'KNN_90k', 'KNN_180k', 'KNN_365k', 'KNN_1095k', 'KNN_1825k'],
      dtype='object')

In [80]:
colunas = df.columns
nulos = df[df['Vazao2_CA_30d'].isnull()].index

In [81]:
nulos

Int64Index([3757, 3758, 3759, 3760, 3761, 3762, 3763, 3764, 3765, 3766, 3767,
            3768, 3769, 3770, 3771, 3772, 3773, 3774, 3775, 3776, 3777, 3778,
            3779, 3780, 3781, 3782, 3783, 3784, 3785, 3786, 4394, 4395, 4396,
            4397, 4398, 4399, 4400, 4401, 4402, 4403, 4404, 4405, 4406, 4407,
            4408, 4409, 4410, 4411, 4412, 4413, 4414, 4415, 4416, 4417, 4418,
            4419, 4420, 4421, 4422, 4423, 4780, 4781, 4782, 4783, 4784, 4785,
            4786, 4787, 4788, 4789, 4790, 4791, 4792, 4793, 4794, 4795, 4796,
            4797, 4798, 4799, 4800, 4801, 4802, 4803, 4804, 4805, 4806, 4807,
            4808, 4809],
           dtype='int64')

In [82]:
mae = []
rmse = []
corr = []
mape = []
for col in colunas[12:]:
    print('------------------')
    print('Método: ', col)
    
    dict_metrics = calcula_metricas(df['Vazao_CA'][nulos], df[col][nulos])  
    mae.append(dict_metrics['mae'])
    rmse.append(dict_metrics['rmse'])
    corr.append(dict_metrics['corr'])
    mape.append(dict_metrics['mape'])

------------------
Método:  Media
Mean Absolute Error (MAE): 152.7753
Root Mean Squared Error (RMSE): 235.0344
Pearson Correlation: nan
Mean Absolute Percentual Error (MAPE): 384.4330
------------------
Método:  Moda
Mean Absolute Error (MAE): 95.2111
Root Mean Squared Error (RMSE): 241.3570
Pearson Correlation: nan
Mean Absolute Percentual Error (MAPE): 73.1879
------------------
Método:  Mediana
Mean Absolute Error (MAE): 98.8111
Root Mean Squared Error (RMSE): 228.8383
Pearson Correlation: nan
Mean Absolute Percentual Error (MAPE): 173.9346
------------------
Método:  LOCF
Mean Absolute Error (MAE): 75.7222
Root Mean Squared Error (RMSE): 224.8607
Pearson Correlation: 0.3882
Mean Absolute Percentual Error (MAPE): 54.0282
------------------
Método:  BOCF
Mean Absolute Error (MAE): 95.5000
Root Mean Squared Error (RMSE): 203.1769
Pearson Correlation: 0.4567
Mean Absolute Percentual Error (MAPE): 68.3088
------------------
Método:  InterpolacaoLinear
Mean Absolute Error (MAE): 80.0781
Root Mean Squared Error (RMSE): 220.1675
Pearson Correlation: 0.2922
Mean Absolute Percentual Error (MAPE): 46.2525
------------------
Método:  InterpolacaoSpline_ordem2
Mean Absolute Error (MAE): 178.7172
Root Mean Squared Error (RMSE): 330.7460
Pearson Correlation: 0.1803
Mean Absolute Percentual Error (MAPE): 171.4446
------------------
Método:  InterpolacaoSpline_ordem3
Mean Absolute Error (MAE): 174.0345
Root Mean Squared Error (RMSE): 325.4104
Pearson Correlation: 0.2247
Mean Absolute Percentual Error (MAPE): 152.3024
------------------
Método:  InterpolacaoPolinomial_ordem2
Mean Absolute Error (MAE): 178.8302
Root Mean Squared Error (RMSE): 331.0519
Pearson Correlation: 0.1801
Mean Absolute Percentual Error (MAPE): 171.6404
------------------
Método:  InterpolacaoPolinomial_ordem3
Mean Absolute Error (MAE): 180.2184
Root Mean Squared Error (RMSE): 327.9960
Pearson Correlation: 0.2233
Mean Absolute Percentual Error (MAPE): 176.5553
------------------
Método:  timestamp_numeric
Mean Absolute Error (MAE): 4203.8222
Root Mean Squared Error (RMSE): 4239.8127
Pearson Correlation: -0.3868
Mean Absolute Percentual Error (MAPE): 11521.0990
------------------
Método:  KNN_1k
Mean Absolute Error (MAE): 92.4000
Root Mean Squared Error (RMSE): 234.1697
Pearson Correlation: 0.1439
Mean Absolute Percentual Error (MAPE): 55.4277
------------------
Método:  KNN_2k
Mean Absolute Error (MAE): 85.0500
Root Mean Squared Error (RMSE): 230.8288
Pearson Correlation: 0.1615
Mean Absolute Percentual Error (MAPE): 45.7358
------------------
Método:  KNN_3k
Mean Absolute Error (MAE): 80.5407
Root Mean Squared Error (RMSE): 229.4421
Pearson Correlation: 0.1763
Mean Absolute Percentual Error (MAPE): 41.0829
------------------
Método:  KNN_4k
Mean Absolute Error (MAE): 76.8333
Root Mean Squared Error (RMSE): 227.4361
Pearson Correlation: 0.2062
Mean Absolute Percentual Error (MAPE): 37.9531
------------------
Método:  KNN_5k
Mean Absolute Error (MAE): 77.2267
Root Mean Squared Error (RMSE): 226.8418
Pearson Correlation: 0.2104
Mean Absolute Percentual Error (MAPE): 40.6397
------------------
Método:  KNN_6k
Mean Absolute Error (MAE): 83.3019
Root Mean Squared Error (RMSE): 229.1056
Pearson Correlation: 0.1657
Mean Absolute Percentual Error (MAPE): 50.4240
------------------
Método:  KNN_7k
Mean Absolute Error (MAE): 91.4794
Root Mean Squared Error (RMSE): 234.5021
Pearson Correlation: 0.1276
Mean Absolute Percentual Error (MAPE): 63.7069
------------------
Método:  KNN_8k
Mean Absolute Error (MAE): 95.4514
Root Mean Squared Error (RMSE): 235.8963
Pearson Correlation: 0.1229
Mean Absolute Percentual Error (MAPE): 72.1240
------------------
Método:  KNN_9k
Mean Absolute Error (MAE): 103.7679
Root Mean Squared Error (RMSE): 242.2370
Pearson Correlation: 0.1057
Mean Absolute Percentual Error (MAPE): 83.9280
------------------
Método:  KNN_10k
Mean Absolute Error (MAE): 111.6444
Root Mean Squared Error (RMSE): 249.2968
Pearson Correlation: 0.0899
Mean Absolute Percentual Error (MAPE): 96.7771
------------------
Método:  KNN_15k
Mean Absolute Error (MAE): 119.3304
Root Mean Squared Error (RMSE): 243.7066
Pearson Correlation: 0.1204
Mean Absolute Percentual Error (MAPE): 119.3771
------------------
Método:  KNN_30k
Mean Absolute Error (MAE): 106.8933
Root Mean Squared Error (RMSE): 215.2525
Pearson Correlation: 0.3406
Mean Absolute Percentual Error (MAPE): 122.1407
------------------
Método:  KNN_90k
Mean Absolute Error (MAE): 100.4377
Root Mean Squared Error (RMSE): 196.7366
Pearson Correlation: 0.5366
Mean Absolute Percentual Error (MAPE): 135.4347
------------------
Método:  KNN_180k
Mean Absolute Error (MAE): 100.6809
Root Mean Squared Error (RMSE): 208.1350
Pearson Correlation: 0.4424
Mean Absolute Percentual Error (MAPE): 151.1293
------------------
Método:  KNN_365k
Mean Absolute Error (MAE): 125.5811
Root Mean Squared Error (RMSE): 219.9682
Pearson Correlation: 0.3531
Mean Absolute Percentual Error (MAPE): 246.7810
------------------
Método:  KNN_1095k
Mean Absolute Error (MAE): 152.4917
Root Mean Squared Error (RMSE): 228.8225
Pearson Correlation: 0.4007
Mean Absolute Percentual Error (MAPE): 379.1245
------------------
Método:  KNN_1825k
Mean Absolute Error (MAE): 168.4098
Root Mean Squared Error (RMSE): 245.3886
Pearson Correlation: -0.4503
Mean Absolute Percentual Error (MAPE): 444.7107

/home/hartb/anaconda3/lib/python3.11/site-packages/scipy/stats/_stats_py.py:4424: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(msg))
/home/hartb/anaconda3/lib/python3.11/site-packages/scipy/stats/_stats_py.py:4424: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(msg))
/home/hartb/anaconda3/lib/python3.11/site-packages/scipy/stats/_stats_py.py:4424: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(msg))

In [83]:
metodos = colunas[12:].to_list()

In [84]:
mae.append(80.07279)
rmse.append(220.167)
corr.append(0.2922511)
mape.append(46.24429)
metodos.append('kalman_struct')

In [85]:
mae.append(72.89209)
rmse.append(220.0242)
corr.append(0.3366074)
mape.append(39.25627)
metodos.append('kalman_arima')

In [86]:
metricas = pd.DataFrame({'mae' : mae, 'rmse' : rmse, 'corr' : corr, 'mape' : mape, 'metodos' : metodos})

In [87]:
metricas.sort_values(by='mae').head(10)

          mae        rmse      corr       mape             metodos
29  72.892090  220.024200  0.336607  39.256270        kalman_arima
3   75.722222  224.860673  0.388197  54.028219                LOCF
14  76.833333  227.436127  0.206223  37.953104              KNN_4k
15  77.226667  226.841836  0.210352  40.639744              KNN_5k
28  80.072790  220.167000  0.292251  46.244290       kalman_struct
5   80.078136  220.167491  0.292235  46.252482  InterpolacaoLinear
13  80.540741  229.442131  0.176253  41.082872              KNN_3k
16  83.301852  229.105563  0.165655  50.423998              KNN_6k
12  85.050000  230.828791  0.161466  45.735768              KNN_2k
17  91.479365  234.502144  0.127594  63.706914              KNN_7k

In [88]:
metricas.sort_values(by='rmse').head(10)

           mae        rmse      corr        mape             metodos
23  100.437654  196.736610  0.536608  135.434687             KNN_90k
4    95.500000  203.176907  0.456677   68.308770                BOCF
24  100.680864  208.135011  0.442370  151.129253            KNN_180k
22  106.893333  215.252544  0.340558  122.140702             KNN_30k
25  125.581065  219.968214  0.353125  246.781035            KNN_365k
29   72.892090  220.024200  0.336607   39.256270        kalman_arima
28   80.072790  220.167000  0.292251   46.244290       kalman_struct
5    80.078136  220.167491  0.292235   46.252482  InterpolacaoLinear
3    75.722222  224.860673  0.388197   54.028219                LOCF
15   77.226667  226.841836  0.210352   40.639744              KNN_5k

In [89]:
metricas.sort_values(by='corr', ascending=False).head(10)

           mae        rmse      corr        mape             metodos
23  100.437654  196.736610  0.536608  135.434687             KNN_90k
4    95.500000  203.176907  0.456677   68.308770                BOCF
24  100.680864  208.135011  0.442370  151.129253            KNN_180k
26  152.491710  228.822485  0.400721  379.124517           KNN_1095k
3    75.722222  224.860673  0.388197   54.028219                LOCF
25  125.581065  219.968214  0.353125  246.781035            KNN_365k
22  106.893333  215.252544  0.340558  122.140702             KNN_30k
29   72.892090  220.024200  0.336607   39.256270        kalman_arima
28   80.072790  220.167000  0.292251   46.244290       kalman_struct
5    80.078136  220.167491  0.292235   46.252482  InterpolacaoLinear

In [90]:
metricas.sort_values(by='mape').head(10)

          mae        rmse      corr       mape             metodos
14  76.833333  227.436127  0.206223  37.953104              KNN_4k
29  72.892090  220.024200  0.336607  39.256270        kalman_arima
15  77.226667  226.841836  0.210352  40.639744              KNN_5k
13  80.540741  229.442131  0.176253  41.082872              KNN_3k
12  85.050000  230.828791  0.161466  45.735768              KNN_2k
28  80.072790  220.167000  0.292251  46.244290       kalman_struct
5   80.078136  220.167491  0.292235  46.252482  InterpolacaoLinear
16  83.301852  229.105563  0.165655  50.423998              KNN_6k
3   75.722222  224.860673  0.388197  54.028219                LOCF
11  92.400000  234.169692  0.143854  55.427747              KNN_1k