In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
import random
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error, mean_squared_error
from scipy.stats import pearsonr, rankdata
from sklearn.impute import KNNImputer
import seaborn as sns

In [2]:
def percentual_error(y_true, y_pred):
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [3]:
def calcula_metricas(values_true, values_predicted):
    # Calcular métricas
    mae = mean_absolute_error(values_true, values_predicted)
    rmse = np.sqrt(mean_squared_error(values_true, values_predicted))
    correlation, _ = pearsonr(values_true, values_predicted)
    mape = percentual_error(values_true, values_predicted)

    # Exibir resultados
    print(f"Mean Absolute Error (MAE): {mae:.4f}")
    print(f"Root Mean Squared Error (RMSE): {rmse:.4f}")
    print(f"Pearson Correlation: {correlation:.4f}")
    print(f"Mean Absolute Percentual Error (MAPE): {mape:.4f}")

    return {'mae': mae, 'rmse': rmse, 'corr' : correlation, 'mape' : mape}

In [4]:
df = pd.read_csv('data/vazoes_CA_20_23.csv')

In [5]:
df['timestamp'] = pd.to_datetime(df['Data'])

In [6]:
df.columns

Index(['Unnamed: 0', 'Data', 'Vazao_CA', 'Vazao1_CA_1d', 'Vazao2_CA_1d',
       'Vazao1_CA_7d', 'Vazao2_CA_7d', 'Vazao1_CA_15d', 'Vazao2_CA_15d',
       'Vazao1_CA_30d', 'Vazao2_CA_30d', 'timestamp'],
      dtype='object')

# Imputação Estática de Dados

In [7]:
df['Media'] = df['Vazao1_CA_15d'].fillna(df['Vazao1_CA_15d'].mean())

In [8]:
df['Moda'] = df['Vazao1_CA_15d'].fillna(df['Vazao1_CA_15d'].mode().iloc[0])

In [9]:
df['Mediana'] = df['Vazao1_CA_15d'].fillna(df['Vazao1_CA_15d'].median())

In [10]:
df['LOCF'] = df['Vazao1_CA_15d'].fillna(method='ffill')

In [11]:
df['BOCF'] = df['Vazao1_CA_15d'].fillna(method='bfill')

# Imputação de Dados com Médias Móveis e Interpolação

In [12]:
#df['Media_Movel_3dias'] = df['Vazao1_CA_15d'].fillna(df['Vazao1_CA_15d'].rolling(window=3, min_periods=1).mean().shift(1))

In [13]:
#df['Media_Movel_7dias'] = df['Vazao1_CA_15d'].fillna(df['Vazao1_CA_15d'].rolling(window=7, min_periods=1).mean().shift(1))

In [14]:
df['Media_Movel_15dias'] = df['Vazao1_CA_15d'].fillna(df['Vazao1_CA_15d'].rolling(window=15, min_periods=1).mean().shift(1))

In [15]:
df['InterpolacaoLinear'] = df['Vazao1_CA_15d'].fillna(df['Vazao1_CA_15d'].interpolate(method='linear'))

In [16]:
df['InterpolacaoSpline_ordem2'] = df['Vazao1_CA_15d'].fillna(df['Vazao1_CA_15d'].interpolate(method='spline', order=2))

In [17]:
df['InterpolacaoSpline_ordem3'] = df['Vazao1_CA_15d'].fillna(df['Vazao1_CA_15d'].interpolate(method='spline', order=3))

In [18]:
df['InterpolacaoPolinomial_ordem2'] = df['Vazao1_CA_15d'].fillna(df['Vazao1_CA_15d'].interpolate(method='polynomial', order=2))

In [19]:
df['InterpolacaoPolinomial_ordem3'] = df['Vazao1_CA_15d'].fillna(df['Vazao1_CA_15d'].interpolate(method='polynomial', order=3))

# Imputações KNN

In [20]:
df['timestamp_numeric'] = (df['timestamp'] - df['timestamp'].min()) / pd.Timedelta(days=1)

In [21]:
imputer = KNNImputer(n_neighbors=1) 
df['KNN_1k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao1_CA_15d', 'timestamp_numeric']])))

In [22]:
imputer = KNNImputer(n_neighbors=2) 
df['KNN_2k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao1_CA_15d', 'timestamp_numeric']])))

In [23]:
imputer = KNNImputer(n_neighbors=3) 
df['KNN_3k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao1_CA_15d', 'timestamp_numeric']])))

In [24]:
imputer = KNNImputer(n_neighbors=4) 
df['KNN_4k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao1_CA_15d', 'timestamp_numeric']])))

In [25]:
imputer = KNNImputer(n_neighbors=5) 
df['KNN_5k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao1_CA_15d', 'timestamp_numeric']])))

In [26]:
imputer = KNNImputer(n_neighbors=6) 
df['KNN_6k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao1_CA_15d', 'timestamp_numeric']])))

In [27]:
imputer = KNNImputer(n_neighbors=7) 
df['KNN_7k']  = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao1_CA_15d', 'timestamp_numeric']])))

In [28]:
imputer = KNNImputer(n_neighbors=8) 
df['KNN_8k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao1_CA_15d', 'timestamp_numeric']])))

In [29]:
imputer = KNNImputer(n_neighbors=9) 
df['KNN_9k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao1_CA_15d', 'timestamp_numeric']])))

In [30]:
imputer = KNNImputer(n_neighbors=10) 
df['KNN_10k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao1_CA_15d', 'timestamp_numeric']])))

In [31]:
imputer = KNNImputer(n_neighbors=15) 
df['KNN_15k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao1_CA_15d', 'timestamp_numeric']])))

In [32]:
imputer = KNNImputer(n_neighbors=30) 
df['KNN_30k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao1_CA_15d', 'timestamp_numeric']])))

In [33]:
imputer = KNNImputer(n_neighbors=90) 
df['KNN_90k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao1_CA_15d', 'timestamp_numeric']])))

In [34]:
imputer = KNNImputer(n_neighbors=180) 
df['KNN_180k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao1_CA_15d', 'timestamp_numeric']])))

In [35]:
imputer = KNNImputer(n_neighbors=365) 
df['KNN_365k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao1_CA_15d', 'timestamp_numeric']])))

In [36]:
imputer = KNNImputer(n_neighbors=1095) 
df['KNN_1095k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao1_CA_15d', 'timestamp_numeric']])))

In [37]:
imputer = KNNImputer(n_neighbors=1825) 
df['KNN_1825k'] = list(map(lambda x: x[0], imputer.fit_transform(df[['Vazao1_CA_15d', 'timestamp_numeric']])))

# Métricas

In [38]:
df.columns

Index(['Unnamed: 0', 'Data', 'Vazao_CA', 'Vazao1_CA_1d', 'Vazao2_CA_1d',
       'Vazao1_CA_7d', 'Vazao2_CA_7d', 'Vazao1_CA_15d', 'Vazao2_CA_15d',
       'Vazao1_CA_30d', 'Vazao2_CA_30d', 'timestamp', 'Media', 'Moda',
       'Mediana', 'LOCF', 'BOCF', 'Media_Movel_15dias', 'InterpolacaoLinear',
       'InterpolacaoSpline_ordem2', 'InterpolacaoSpline_ordem3',
       'InterpolacaoPolinomial_ordem2', 'InterpolacaoPolinomial_ordem3',
       'timestamp_numeric', 'KNN_1k', 'KNN_2k', 'KNN_3k', 'KNN_4k', 'KNN_5k',
       'KNN_6k', 'KNN_7k', 'KNN_8k', 'KNN_9k', 'KNN_10k', 'KNN_15k', 'KNN_30k',
       'KNN_90k', 'KNN_180k', 'KNN_365k', 'KNN_1095k', 'KNN_1825k'],
      dtype='object')

In [39]:
colunas = df.columns
nulos = df[df['Vazao1_CA_15d'].isnull()].index

In [40]:
nulos

Int64Index([  14,   15,   16,   17,   18,   19,   20,   21,   22,   23,   24,
              25,   26,   27,   28, 1279, 1280, 1281, 1282, 1283, 1284, 1285,
            1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1983, 1984, 1985,
            1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996,
            1997, 3721, 3722, 3723, 3724, 3725, 3726, 3727, 3728, 3729, 3730,
            3731, 3732, 3733, 3734, 3735, 6802, 6803, 6804, 6805, 6806, 6807,
            6808, 6809, 6810, 6811, 6812, 6813, 6814, 6815, 6816, 8394, 8395,
            8396, 8397, 8398, 8399, 8400, 8401, 8402, 8403, 8404, 8405, 8406,
            8407, 8408],
           dtype='int64')

In [47]:
mae = []
rmse = []
corr = []
mape = []
for col in colunas[12:]:
    print('------------------')
    print('Método: ', col)
    
    dict_metrics = calcula_metricas(df['Vazao_CA'][nulos], df[col][nulos])  
    mae.append(dict_metrics['mae'])
    rmse.append(dict_metrics['rmse'])
    corr.append(dict_metrics['corr'])
    mape.append(dict_metrics['mape'])

------------------
Método:  Media
Mean Absolute Error (MAE): 125.6672
Root Mean Squared Error (RMSE): 186.0128
Pearson Correlation: nan
Mean Absolute Percentual Error (MAPE): 131.1026
------------------
Método:  Moda
Mean Absolute Error (MAE): 129.6111
Root Mean Squared Error (RMSE): 225.7438
Pearson Correlation: nan
Mean Absolute Percentual Error (MAPE): 58.0487
------------------
Método:  Mediana
Mean Absolute Error (MAE): 104.8333
Root Mean Squared Error (RMSE): 199.6192
Pearson Correlation: nan
Mean Absolute Percentual Error (MAPE): 60.1045
------------------
Método:  LOCF
Mean Absolute Error (MAE): 116.0667
Root Mean Squared Error (RMSE): 203.9164
Pearson Correlation: 0.1188
Mean Absolute Percentual Error (MAPE): 74.3000
------------------
Método:  BOCF
Mean Absolute Error (MAE): 82.1111
Root Mean Squared Error (RMSE): 140.5899
Pearson Correlation: 0.6538
Mean Absolute Percentual Error (MAPE): 55.8334
------------------
Método:  Media_Movel_15dias
Mean Absolute Error (MAE): 135.5410
Root Mean Squared Error (RMSE): 205.5608
Pearson Correlation: 0.1741
Mean Absolute Percentual Error (MAPE): 98.2975
------------------
Método:  InterpolacaoLinear
Mean Absolute Error (MAE): 88.4361
Root Mean Squared Error (RMSE): 165.7366
Pearson Correlation: 0.4570
Mean Absolute Percentual Error (MAPE): 58.5373
------------------
Método:  InterpolacaoSpline_ordem2
Mean Absolute Error (MAE): 324.5983
Root Mean Squared Error (RMSE): 769.2573
Pearson Correlation: 0.0631
Mean Absolute Percentual Error (MAPE): 294.0816
------------------
Método:  InterpolacaoSpline_ordem3
Mean Absolute Error (MAE): 337.2104
Root Mean Squared Error (RMSE): 775.1455
Pearson Correlation: 0.0708
Mean Absolute Percentual Error (MAPE): 301.8439
------------------
Método:  InterpolacaoPolinomial_ordem2
Mean Absolute Error (MAE): 324.5602
Root Mean Squared Error (RMSE): 769.1000
Pearson Correlation: 0.0632
Mean Absolute Percentual Error (MAPE): 294.0322
------------------
Método:  InterpolacaoPolinomial_ordem3
Mean Absolute Error (MAE): 337.7033
Root Mean Squared Error (RMSE): 775.0821
Pearson Correlation: 0.0703
Mean Absolute Percentual Error (MAPE): 302.2601
------------------
Método:  timestamp_numeric
Mean Absolute Error (MAE): 3553.6667
Root Mean Squared Error (RMSE): 4615.0371
Pearson Correlation: 0.2372
Mean Absolute Percentual Error (MAPE): 3070.8738
------------------
Método:  KNN_1k
Mean Absolute Error (MAE): 99.4000
Root Mean Squared Error (RMSE): 183.1972
Pearson Correlation: 0.3284
Mean Absolute Percentual Error (MAPE): 62.1136
------------------
Método:  KNN_2k
Mean Absolute Error (MAE): 119.3000
Root Mean Squared Error (RMSE): 227.4733
Pearson Correlation: 0.2777
Mean Absolute Percentual Error (MAPE): 91.4448
------------------
Método:  KNN_3k
Mean Absolute Error (MAE): 127.6444
Root Mean Squared Error (RMSE): 254.8665
Pearson Correlation: 0.2553
Mean Absolute Percentual Error (MAPE): 97.6282
------------------
Método:  KNN_4k
Mean Absolute Error (MAE): 126.5694
Root Mean Squared Error (RMSE): 246.5883
Pearson Correlation: 0.2344
Mean Absolute Percentual Error (MAPE): 99.9445
------------------
Método:  KNN_5k
Mean Absolute Error (MAE): 126.8778
Root Mean Squared Error (RMSE): 238.7149
Pearson Correlation: 0.2263
Mean Absolute Percentual Error (MAPE): 101.0780
------------------
Método:  KNN_6k
Mean Absolute Error (MAE): 128.5926
Root Mean Squared Error (RMSE): 236.4985
Pearson Correlation: 0.2246
Mean Absolute Percentual Error (MAPE): 103.1101
------------------
Método:  KNN_7k
Mean Absolute Error (MAE): 127.4032
Root Mean Squared Error (RMSE): 225.6989
Pearson Correlation: 0.2380
Mean Absolute Percentual Error (MAPE): 102.2605
------------------
Método:  KNN_8k
Mean Absolute Error (MAE): 130.7306
Root Mean Squared Error (RMSE): 225.4735
Pearson Correlation: 0.2151
Mean Absolute Percentual Error (MAPE): 107.3287
------------------
Método:  KNN_9k
Mean Absolute Error (MAE): 129.4926
Root Mean Squared Error (RMSE): 221.1457
Pearson Correlation: 0.2119
Mean Absolute Percentual Error (MAPE): 106.0768
------------------
Método:  KNN_10k
Mean Absolute Error (MAE): 128.7422
Root Mean Squared Error (RMSE): 216.6264
Pearson Correlation: 0.2134
Mean Absolute Percentual Error (MAPE): 104.7283
------------------
Método:  KNN_15k
Mean Absolute Error (MAE): 147.6104
Root Mean Squared Error (RMSE): 223.6998
Pearson Correlation: 0.1925
Mean Absolute Percentual Error (MAPE): 112.9954
------------------
Método:  KNN_30k
Mean Absolute Error (MAE): 148.2285
Root Mean Squared Error (RMSE): 212.4638
Pearson Correlation: 0.2194
Mean Absolute Percentual Error (MAPE): 114.2162
------------------
Método:  KNN_90k
Mean Absolute Error (MAE): 127.4540
Root Mean Squared Error (RMSE): 186.7996
Pearson Correlation: 0.2382
Mean Absolute Percentual Error (MAPE): 101.9836
------------------
Método:  KNN_180k
Mean Absolute Error (MAE): 143.2468
Root Mean Squared Error (RMSE): 192.7585
Pearson Correlation: 0.1370
Mean Absolute Percentual Error (MAPE): 133.7819
------------------
Método:  KNN_365k
Mean Absolute Error (MAE): 120.9831
Root Mean Squared Error (RMSE): 181.5712
Pearson Correlation: 0.2114
Mean Absolute Percentual Error (MAPE): 117.2943
------------------
Método:  KNN_1095k
Mean Absolute Error (MAE): 118.8208
Root Mean Squared Error (RMSE): 180.0851
Pearson Correlation: 0.2503
Mean Absolute Percentual Error (MAPE): 123.5171
------------------
Método:  KNN_1825k
Mean Absolute Error (MAE): 118.2246
Root Mean Squared Error (RMSE): 183.8480
Pearson Correlation: 0.1766
Mean Absolute Percentual Error (MAPE): 119.4118

/home/hartb/anaconda3/lib/python3.11/site-packages/scipy/stats/_stats_py.py:4424: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(msg))
/home/hartb/anaconda3/lib/python3.11/site-packages/scipy/stats/_stats_py.py:4424: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(msg))
/home/hartb/anaconda3/lib/python3.11/site-packages/scipy/stats/_stats_py.py:4424: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(msg))

In [48]:
metodos = colunas[12:].to_list()

In [49]:
mae.append(88.43611)
rmse.append(165.7366)
corr.append(0.4570381)
mape.append(58.53732)
metodos.append('kalman_struct')

In [50]:
mae.append(150.0509)
rmse.append(242.3744)
corr.append(0.03112831)
mape.append(87.20749)
metodos.append('kalman_arima')

In [51]:
metricas = pd.DataFrame({'mae' : mae, 'rmse' : rmse, 'corr' : corr, 'mape' : mape, 'metodos' : metodos})

In [52]:
metricas.sort_values(by='mae').head(10)

           mae        rmse      corr        mape             metodos
4    82.111111  140.589947  0.653778   55.833444                BOCF
29   88.436110  165.736600  0.457038   58.537320       kalman_struct
6    88.436111  165.736649  0.457038   58.537324  InterpolacaoLinear
12   99.400000  183.197222  0.328398   62.113644              KNN_1k
2   104.833333  199.619221       NaN   60.104539             Mediana
3   116.066667  203.916377  0.118761   74.299964                LOCF
28  118.224584  183.847951  0.176625  119.411801           KNN_1825k
27  118.820812  180.085093  0.250312  123.517069           KNN_1095k
13  119.300000  227.473320  0.277709   91.444809              KNN_2k
26  120.983135  181.571199  0.211436  117.294320            KNN_365k

In [53]:
metricas.sort_values(by='rmse').head(10)

           mae        rmse      corr        mape             metodos
4    82.111111  140.589947  0.653778   55.833444                BOCF
29   88.436110  165.736600  0.457038   58.537320       kalman_struct
6    88.436111  165.736649  0.457038   58.537324  InterpolacaoLinear
27  118.820812  180.085093  0.250312  123.517069           KNN_1095k
26  120.983135  181.571199  0.211436  117.294320            KNN_365k
12   99.400000  183.197222  0.328398   62.113644              KNN_1k
28  118.224584  183.847951  0.176625  119.411801           KNN_1825k
0   125.667170  186.012796       NaN  131.102577               Media
24  127.453951  186.799570  0.238174  101.983613             KNN_90k
25  143.246790  192.758512  0.137011  133.781879            KNN_180k

In [54]:
metricas.sort_values(by='corr', ascending=False).head(10)

            mae         rmse      corr         mape             metodos
4     82.111111   140.589947  0.653778    55.833444                BOCF
6     88.436111   165.736649  0.457038    58.537324  InterpolacaoLinear
29    88.436110   165.736600  0.457038    58.537320       kalman_struct
12    99.400000   183.197222  0.328398    62.113644              KNN_1k
13   119.300000   227.473320  0.277709    91.444809              KNN_2k
14   127.644444   254.866453  0.255291    97.628247              KNN_3k
27   118.820812   180.085093  0.250312   123.517069           KNN_1095k
24   127.453951   186.799570  0.238174   101.983613             KNN_90k
18   127.403175   225.698852  0.237984   102.260491              KNN_7k
11  3553.666667  4615.037108  0.237215  3070.873773   timestamp_numeric

In [55]:
metricas.sort_values(by='mape').head(10)

           mae        rmse      corr       mape             metodos
4    82.111111  140.589947  0.653778  55.833444                BOCF
1   129.611111  225.743832       NaN  58.048726                Moda
29   88.436110  165.736600  0.457038  58.537320       kalman_struct
6    88.436111  165.736649  0.457038  58.537324  InterpolacaoLinear
2   104.833333  199.619221       NaN  60.104539             Mediana
12   99.400000  183.197222  0.328398  62.113644              KNN_1k
3   116.066667  203.916377  0.118761  74.299964                LOCF
30  150.050900  242.374400  0.031128  87.207490        kalman_arima
13  119.300000  227.473320  0.277709  91.444809              KNN_2k
14  127.644444  254.866453  0.255291  97.628247              KNN_3k